<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sheldon.cinemademo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="CinemaDemo"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="label">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activities.FilmDetail" />
        <activity android:name=".activities.SeatSelection" />
        <activity android:name=".activities.OrderDetail" />
        <activity android:name=".activities.PayOrder" />
        <activity android:name=".activities.PasswordModify" />
        <activity android:name=".activities.HistoryTickets" />
        <activity android:name=".activities.BookedTickets" />
        <activity android:name=".activities.UserTicketDetail" />
        <activity android:name=".activities.SearchResult"></activity>
    </application>

</manifest>